:root{
    --glow-light:
            0 0 10px rgb(211, 211, 211), 
            0 0 20px rgb(174, 174, 174),
            0 0 30px rgb(144, 144, 144),
            0 0 40px rgb(93, 93, 93);
    
    --glow-dark: 
            0 0 10px rgb(200, 200, 200), 
            0 0 20px rgb(174, 174, 174),
            0 0 30px rgb(120, 120, 120),
            0 0 40px rgb(86, 86, 86);
}

* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

body{
    padding: 0;
    margin: 0;
}

body.dark{
    background-color: rgb(30, 30, 30) !important;
    color: white;
}

body.white{
    background-color: rgb(159, 159, 159) !important;
    color: rgb(0, 0, 0);
}

/* MODE */

div#container-mode{
    height: clamp(50px,7vh,125px);
    margin: min(100px,10%) auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mode{
    width: clamp(150px, 20vw,250px);
    aspect-ratio: 2/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    font-size: clamp(1.2rem,3.5vw,2rem);
    cursor: pointer;
    transition: transform 0.5s ease;
}

#mode:hover{
    transform: scale(1.25);
}

#mode.dark{
    background-color: black;
    color: white;
    animation: light-to-dark 0.15s ease-in forwards;
}

#mode.light{
    background-color: white;
    border: #b8b8b8 2px solid;
    transition: all 0.2 ease-out;
    color: black;
    animation: dark-to-light 0.15s ease-out forwards;
}

/* ANIMAZIONI PER MODE */

/* ANIMAZIONE DARK TO LIGHT */
@keyframes dark-to-light {
    0% {
        background: linear-gradient(to right,
            #ffffff 0%,
            #b8b8b8 20%,
            #8c8c8c 20%,
            #262626 100%
        );
    }

    10% {
        background: linear-gradient(to right,
            #ffffff 10%,
            #b8b8b8 30%,
            #8c8c8c 30%,
            #262626 100%
        );
    }

    20% {
        background: linear-gradient(to right,
            #ffffff 20%,
            #b8b8b8 40%,
            #8c8c8c 40%,
            #262626 100%
        );
    }

    30% {
        background: linear-gradient(to right,
            #ffffff 30%,
            #b8b8b8 50%,
            #8c8c8c 50%,
            #262626 100%
        );
    }

    40% {
        background: linear-gradient(to right,
            #ffffff 40%,
            #b8b8b8 60%,
            #8c8c8c 60%,
            #262626 100%
        );
    }

    50% {
        background: linear-gradient(to right,
            #ffffff 50%,
            #b8b8b8 70%,
            #8c8c8c 70%,
            #262626 100%
        );
    }

    60% {
        background: linear-gradient(to right,
            #ffffff 60%,
            #b8b8b8 80%,
            #8c8c8c 80%,
            #262626 100%
        );
    }

    70% {
        background: linear-gradient(to right,
            #ffffff 70%,
            #b8b8b8 90%,
            #8c8c8c 90%,
            #262626 100%
        );
    }

    80% {
        background: linear-gradient(to right,
            #ffffff 80%,
            #b8b8b8 100%,
            #8c8c8c 100%,
            #262626 100%
        );
    }

    100% {
        background: #ffffff;
    }
}


/* ANIMAZIONE LIGHT TO DARK*/

@keyframes light-to-dark {
    0% {
        background: linear-gradient(to left,
            #000000 0%,
            #4f4f4f 20%,
            #a5a5a5 20%,
            #ffffff 100%
        );
    }

    10% {
        background: linear-gradient(to left,
            #000000 10%,
            #4f4f4f 30%,
            #a5a5a5 30%,
            #ffffff 100%
        );
    }

    20% {
        background: linear-gradient(to left,
            #000000 20%,
            #4f4f4f 40%,
            #a5a5a5 40%,
            #ffffff 100%
        );
    }

    30% {
        background: linear-gradient(to left,
            #000000 30%,
            #4f4f4f 50%,
            #a5a5a5 50%,
            #ffffff 100%
        );
    }

    40% {
        background: linear-gradient(to left,
            #000000 40%,
            #4f4f4f 60%,
            #a5a5a5 60%,
            #ffffff 100%
        );
    }

    50% {
        background: linear-gradient(to left,
            #000000 50%,
            #4f4f4f 70%,
            #a5a5a5 70%,
            #ffffff 100%
        );
    }

    60% {
        background: linear-gradient(to left,
            #000000 60%,
            #4f4f4f 80%,
            #a5a5a5 80%,
            #ffffff 100%
        );
    }

    70% {
        background: linear-gradient(to left,
            #000000 70%,
            #4f4f4f 90%,
            #a5a5a5 90%,
            #ffffff 100%
        );
    }

    80% {
        background: linear-gradient(to left,
            #000000 80%,
            #4f4f4f 100%,
            #a5a5a5 100%,
            #ffffff 100%
        );
    }

    100% {
        background: #000000;
    }
}


/* CALCOLATRICE */

div#container-calcolatrice{
    height: auto;
    width: clamp(300px, 50vw,500px);
    border-radius: 30px;
    margin: auto;
    cursor: pointer;
    transition: box-shadow 0.5s ease-out;
}

div#container-calcolatrice.dark{
    border: 20px solid rgb(89, 89, 89);
    background-color: rgb(89, 89, 89);
}

div#container-calcolatrice.light{
    border: 20px solid rgb(197, 197, 197);
    background-color: rgb(197, 197, 197);
}

div#container-calcolatrice.dark:hover{
    box-shadow: var(--glow-dark);
}

div#container-calcolatrice.light:hover{
    box-shadow: var(--glow-light);
}

div#container-risultato{
    aspect-ratio: 2/1;
    border-radius: 30px;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#container-risultato.dark{
    background-color: rgb(60, 60, 60);
}

div#container-risultato.light{
    background-color: rgb(220, 220, 220);
}

#risultato{
    font-size: 32px;
    background-color: inherit;
    border: none;
    font-family: monospace;
    text-align: right;
    width: 90%;
    cursor: pointer;
    border-radius: inherit;
}

#risultato.dark{
    color: white;
}

#risultato.light{
    color: rgb(0, 0, 0);
}

#risultato:focus{
    outline: none;
}

div#container-tasti{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}

div.button{
    border-radius: 10px;
    text-align: center;
    width: 95%;
    aspect-ratio: 6/5;
    margin: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease, box-shadow 0.3s ease-out;
    font-size: clamp(1rem, 2.5vw, 1.75rem);
}


div.button.dark{
    color: white;
    border: 3px solid rgb(98, 98, 98);
    background-color: rgb(98, 98, 98);
}

div.button.light{
    color: rgb(34, 34, 34);
    background-color: rgb(208, 208, 208);
    border: 3px solid rgb(98, 98, 98);
}

div.button:hover{
    transform: scale(1.05);
}

div.button.dark:hover{
    box-shadow: var(--glow-dark);
}

div.button.light:hover{
    box-shadow: var(--glow-light);
}

div.segno.dark{
    background-color: orange;
}

div.segno.light{
    background-color: rgb(0, 132, 255);
}

div.trasparente{
    background-color: rgba(0, 0, 0, 0.3) !important;
    filter: opacity(0.5) !important;
}

div.trasparente.dark{
    border: 3px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
}

svg{
    width: clamp(18px,3vw,48px);
    height: clamp(18px,3vw,48px);
}

svg.dark{
    stroke: white;
}

svg.light{
    stroke: black;
}

::selection {
    background: transparent;
    color: inherit;
}


/* ANIMATIONS */
@keyframes tap-glow-dark{
    0% {
        box-shadow:
            0 0 2px rgb(95, 95, 95), 
            0 0 5px rgb(79, 79, 79),
            0 0 7px rgb(58, 58, 58),
            0 0 10px rgb(31, 31, 31);
    }

    25% {
        box-shadow:
            0 0 5px rgb(133, 133, 133), 
            0 0 10px rgb(117, 117, 117),
            0 0 15px rgb(98, 98, 98),
            0 0 20px rgb(67, 67, 67);
    }

    50% {
        box-shadow:
            0 0 10px rgb(200, 200, 200), 
            0 0 20px rgb(174, 174, 174),
            0 0 30px rgb(120, 120, 120),
            0 0 40px rgb(86, 86, 86);
    }

    75% {
        box-shadow:
            0 0 5px rgb(133, 133, 133), 
            0 0 10px rgb(117, 117, 117),
            0 0 15px rgb(98, 98, 98),
            0 0 20px rgb(67, 67, 67);
    }

    100% {
        box-shadow: none;
    }
}

@keyframes tap-glow-light{
    0% {
        box-shadow:
            0 0 2px rgb(255, 255, 255), 
            0 0 5px rgb(220, 220, 220),
            0 0 7px rgb(161, 161, 161),
            0 0 10px rgb(127, 127, 127);
    }

    25% {
        box-shadow:
            0 0 5px rgb(237, 237, 237), 
            0 0 10px rgb(190, 190, 190),
            0 0 15px rgb(151, 151, 151),
            0 0 20px rgb(104, 104, 104);
    }

    50% {
        box-shadow:
            0 0 10px rgb(211, 211, 211), 
            0 0 20px rgb(174, 174, 174),
            0 0 30px rgb(144, 144, 144),
            0 0 40px rgb(93, 93, 93);
    }

    75% {
        box-shadow:
            0 0 5px rgb(237, 237, 237), 
            0 0 10px rgb(190, 190, 190),
            0 0 15px rgb(151, 151, 151),
            0 0 20px rgb(104, 104, 104);
    }

    100% {
        box-shadow: none;
    }
}

@media (max-width: 768px) and (orientation:portrait) {
    div.button.dark:hover{
        animation: tap-glow-dark 0.2s ease forwards;
    }

    div.button.light:hover{
        animation: tap-glow-light 0.2s ease forwards;
    }
}
